html {
	height: 100%;
}

body {
	background: url("https://images.unsplash.com/photo-1558684836-062bd8ea1710?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
	background-size: cover;
	color: #4B0082;
	font-size: 1.2rem;
}

.container {
	background-color: #e6e6e6;
	width: 70%;
}

div .p-1:nth-child(even) {
	background-color: white;
}

div .p-1:nth-child(odd) {
	background-color: #e6e6e6;
}

.list {
	background-color: rgba(112,128,144,0.5);
	margin: 5px;
}

div .p-1 {
	margin-right: 15px;
}

.card {
	font-size: 1.8rem;
}